<div class="resume-wrapper">
    <h1>My resume</h1>
    <main>
        <p>Click on the image below to view my resume as a PDF.</p>
        <div class="pdf-wrapper" (click)="onPdfClick()">
            <img src="assets/icons/cv.png" alt="CV">
            <div class="pdf-view">
                <p>View as PDF</p>
            </div>
        </div>
        <p>Updated: <span>June 2023</span></p>
    </main>
    <div class="main-info">
        <h3>
            “Whatever you hold in your mind on a consistent basis<br>
            is exactly what you will experience in your life.”
        </h3>
        <p>— Tony Robbins</p>
    </div>
</div>
