@import 'src/assets/styles/_variables.scss';

.resume-wrapper {
    @include flex-center;
    flex-direction: column;
    margin: 180px auto;

    h1 {
        font-size: 3vw;
    }

    main {
        margin: 80px 0;

        @include flex-center;
        flex-direction: column;

        &>p {
            color: $gray;

            span {
                color: $black;
            }
        }

        .pdf-wrapper {
            cursor: pointer;
            position: relative;
            width: 100%;
            max-width: 400px;
            height: 500px;
            border: 2px solid $black;
            overflow: hidden;

            img {
                width: 100%;
            }

            .pdf-view {
                position: absolute;
                bottom: 0px;
                padding: 0px 15px;
                border-top: 2px solid;
                border-right: 2px solid;
                background-color: $white;
            }
        }
    }

    .main-info {
        width: fit-content;
        margin: 0px auto;

        h3 {
            font-size: 1.5625vw;
        }

        p {
            color: $gray;
            font-style: italic;
        }
    }
}