@import 'src/assets/styles/_variables.scss';

.about-wrapper {
    @include flex-center;
    flex-direction: column;
    margin: 180px auto;

    h1 {
        font-size: 3vw;
    }

    .head-info {
        @include flex-center;
        margin: 50px auto;
        flex-direction: column;

        h2 {
            font-size: 2.2vw;
            margin: 0 auto;
        }

        h3 {
            text-align: center;
            font-size: 1.8vw;
        }
    }

    .bio {
        margin: 100px auto;
        display: flex;
        max-width: 60vw;
        gap: 10px;

        &-info {
            @include flex-center;
            flex-direction: column;
            justify-content: start;
            width: 50%;

            h3 {
                margin: 0;
            }

            p {
                color: $gray;
            }
        }

        &-photos {
            @include flex-center;
            flex-direction: column;
            justify-content: space-between;
            gap: 10px;
            width: 40%;

            img {
                width: 100%;
                height: 50%;
                object-fit: cover;
            }
        }
    }

    .rhyme {
        width: fit-content;
        margin: 0px auto;

        h3 {
            font-size: 1.5625vw;
        }

        p {
            color: $gray;
            font-style: italic;
        }
    }

    .contact {
        @include flex-center;
        margin: 50px auto;
        flex-direction: column;
        gap: 20px;
        h3 {
            font-size: 2.5625vw;
        }

        p {
            color: $gray;
            text-align: center;
        }

        .messangers {
            display: flex;
            gap: 20px;

            img {
                width: 45px;
                cursor: pointer;
            }
        }
    }

    .insta-photos {
        margin: 50px auto;

        h3 {
            text-align: center;
            margin: 50px auto;
            span {
                font-weight: 400;
            }
        }

        .carousel {
            display: flex;
            gap: 10px;
            max-height: 150px;
            align-items: center;
        }

        .carousel-item {
            width: 120px;
            cursor: pointer;
            transition: 0.3s ease-in-out;

            &:hover {
                transform: scale(1.1);
            }
        }

        .carousel-item img {
            width: 100%;
            height: 150px;
            max-height: 150px;
            object-fit: cover;
        }
    }

    .fullscreen-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;
        cursor: pointer;
    }

    .fullscreen-image {
        max-width: 90%;
        max-height: 90%;
    }

    ::ng-deep {
        .contact {
            button {
                border-radius: 50px;
            }
        }
    }
}

@media screen and (max-width: 990px) {
    .about-wrapper {

        h1 {
            font-size: 5vw;
        }

        .contact {
            h3 {
                font-size: 4vw;
            }
        }

        .bio {
            max-width: 80vw;
            margin: 50px auto;
            flex-direction: column-reverse;

            &-info {
                width: 100%;
            }

            &-photos {
                width: 100%;
            }
        }

        .rhyme {
            h3 {
                font-size: 3vw;
            }
        }

        .insta-photos {
            margin: 0;
            height: 950px;

            .carousel {
                display: grid;
                gap: 10px;
                gap: 1rem;
                grid-template-columns: repeat(2, 1fr);

                &-item {
                    width: 250px;
                }
            }
        }
    }
}

@media screen and (max-width: 550px) {
    .about-wrapper {
        margin: 100px auto;

        h1 {
            font-size: 7vw;
        }

        .head-info {
            h2 {
                font-size: 4vw;
            }

            h3 {
                font-size: 3.6vw;
            }
        }

        .contact {
            h3 {
                font-size: 6vw;
            }

            .messangers {
                display: flex;
                gap: 20px;

                img {
                    width: 35px;
                    cursor: pointer;
                }
            }

            &-btn {
                transform: scale(0.8);
            }
        }

        .insta-photos {
            .carousel {
                &-item {
                    width: 150px;
                }
            }
        }
    }
}