@import 'src/assets/styles/_variables.scss';
:host {
    width: 100%;
}

footer {
    width: 100%;

    p {
        color: $gray;
        text-align: end;
    }
}

@media screen and (max-width: 550px) {
    footer {
        p {
            text-align: center;
        }
    }
}