<header>
    <h3>ERVIN OSMANOV</h3>
    <nav>
        <span *ngFor="let tab of tabs" [ngClass]="{'active': activeTab === tab.tab}" (click)="handleTab(tab.tab)">{{ tab.text }}</span>
    </nav>
    <button 
    class="hamburger hamburger--collapse" 
    [class]="isBurgerActive ? 'is-active' : ''" 
    type="button"
    (click)="toggleMenu()"
    >
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>
    <div *ngIf="isBurgerActive" class="menu" (click)="handleEvent($event)">
        <p class="menu-item" [routerLink]="['/']">Select Work</p>
        <p class="menu-item" [routerLink]="['/resume']">Resume</p>
        <p class="menu-item" [routerLink]="['/about']">About + Connect</p>
    </div>
</header>