<div class="work-wrapper">
    <h1>— Ervin is a Fullstack Web Developer and Business Enthusiast</h1>
    <main>
        <div class="main-projects">
            <div class="project project-1" (click)="onNavigate('elunic')">
                <img src="assets/icons/elunic-logo.png" alt="logo">
                <p>Elunic is your strategy consultant and<br> software integrator for IIoT & Industry 4.0.</p>
            </div>
            <div class="project project-2">
                <img src="assets/icons/radency-logo.png" alt="Coming soon">
                <p>Top-tier engineering teams</p>
            </div>
        </div>
        <div class="main-info">
            <h3>
                “Ervin is an extremely knowledgeable engineer. He<br>
                has this combination of attentiveness to details and<br>
                engineering talent that makes him a top-notch<br>
                professional. Ervin always strives to improve his skills,<br>
                he is open to feedback and very dependable.”
            </h3>
            <p>— Mariya, HRD at Radency</p>
        </div>
        <div class="about-btn">
            <app-button mode="default" text="ABOUT + CONNECT" (handleBtnClick)="onNavigate('about')"></app-button>
        </div>
    </main>
</div>